:root {
  --background: #cecece;
  --border: #000000;
  --error: #ff1818;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../Roboto_Mono/RobotoMono-Regular.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 30vh 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
}

body > div {
  width: 30em;
  display: flex;
  justify-content: space-between;
}

input {
  background-color: var(--background);
}

input[type=text] {
  width: 3em;
  font-size: 3em;
  text-align: center;
  padding: 0.5em;
  border: 0.1em solid var(--border);
}

input[type=text]:focus {
  outline: none;
}

input[type=text].error {
  border-color: var(--error);
}
